<?xml version="1.0"?>
<!--
/**
 * Copyright © Magenuts Pvt Ltd All rights reserved.
 * See COPYING.txt for license details.
 * https://www.magenuts.com | support@magenuts.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customer" frontName="customer">
            <module name="Magenuts_GuestToCustomer" />
        </route>
    </router>
</config>